.contacts__title {
    margin-bottom: 40px;
}

.contacts__list {
    margin-bottom: 44px;
}

.contacts__item {
    text-align: left;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.contacts__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    letter-spacing: 0.02em;

    color: #9da4bd;
}

.contacts__mail {
    position: relative;

    &::after {
        position: absolute;
        bottom: 2px;
        left: 0;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #9da4bd;
    }
}

.contacts__uppertitle {
    color: #fff;
}
