.footer {
    padding: 44px 0;
}

.footer__links {
    display: flex;
    flex-direction: row;
}

.links__item--footer {
    display: inline;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.2em;

    &:not(:last-child) {
        margin-right: 40px;
    }
}

.copyright {
    margin: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: #9da4bd;
}
