.record {
    background: #191c26;

    @media screen and (max-width: $tablet - 1px) {
        text-align: center;
    }

    @media screen and (min-width: $desktop) {
        flex-basis: 50%;
    }
}

.record__container {
    @media screen and (min-width: $desktop) {
        width: calc(1280px / 2);
        margin: 0;
    }
}

.form__title {
    margin-bottom: 44px;

    @media screen and (max-width: $tablet - 1px) {
        text-align: center;
    }
}

.field-wrapper {
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 44px;

    @media screen and (min-width: $tablet) {
        flex-basis: 50%;

        &:first-child {
            margin-right: 15px;
        }

        &:first-child + & {
            margin-left: 15px;
        }
    }
}

.field__input {
    display: block;
    width: 100%;
    height: 24px;

    font-weight: 600;
    font-size: 11px;
    line-height: 15px;

    letter-spacing: 0.1em;
    color: #fff;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    outline: transparent;
    cursor: pointer;

    transition: color 500ms linear, border-color 500ms linear;
}

.field__textarea {
    display: block;
    width: 100%;

    font-weight: 600;
    font-size: 11px;
    line-height: 15px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    outline: none;
    resize: none;
    cursor: pointer;

    transition: color 500ms linear, border-color 500ms linear;
}

.field__input:hover,
.field__input:focus,
.field__textarea:hover,
.field__textarea:focus,
.field__input:hover + .field__text,
.field__input:focus + .field__text,
.field__textarea:hover + .field__text,
.field__textarea:focus + .field__text {
    border-color: #fff;
    color: #fff;
}

.field__text {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(157, 164, 189, 0.4);

    transition: color 500ms linear;
}

.field__input:focus ~ .field__text,
.field__textarea:focus ~ .field__text {
    color: #ff6c00;
    transform: translateY(-20px);
}

.field__input:not(:placeholder-shown) ~ .field__text,
.field__textarea:not(:placeholder-shown) ~ .field__text {
    transform: translateY(-20px);
}

.form__btn {
    cursor: pointer;
}
