.price {
    margin-bottom: 50px;
    padding: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 2.14;

    letter-spacing: 0.02em;
    color: #9da4bd;

    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price__item {
    display: flex;
    // justify-content: space-between;
    align-items: baseline;

    &::after {
        content: "";
        margin: 0 6px;
        display: flex;
        flex-grow: 1;
        width: 100%;
        height: 1px;
        background-color: rgba(157, 164, 189, 0.12);
    }
}

.price__name {
    flex-shrink: 0;
}

.price__value {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    order: 1;
}

.price__btn {
    text-align: center;
}
