.btn {
    padding: 12px 20px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #303033;

    border: 1px solid #ff6c00;
    box-sizing: border-box;
    border-radius: 25px;

    background-color: transparent;

    @include transition-base(background-color, color);

    &--light {
        color: #fff;
    }

    &:hover,
    &:focus {
        background-color: #ff6c00;
        color: #fff;
    }
}
