$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
//  акцент
$accent-cl: #ff6c00;
//  темная тема
$primary-txt-cl: #ffffff;
$secondary-txt-cl: #9da4bd;
//  светлая тема
$primary-light-txt-cl: #303030;
$secondary-light-txt-cl: #555555;
//  фон
$bgc: #f7f7f7;

$primary-white-color: #ffffff;
